body {
    display: grid;
    grid-template-areas:
            "header header"
            "nav nav"
            "name name"
            "article earlyLife"
            "career moreInfo"
            "tables tables"
            "otherWork otherWork"
            "references references"
            "footer footer";
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}


article, #references, #pageFooter, #tables, #otherWork{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 15px;
    margin: 15px;
    box-shadow: 10px 6px 7px #ed090d;
    overflow-scrolling: auto;
}


#pageHeader {
    grid-area: header;
}
#pageFooter {
    grid-area: footer;
}
#mainArticle {
    grid-area: article;
    max-width: 700px;
}
#mainNav {
    grid-area: nav;
}
#earlyLife {
    grid-area: earlyLife;
    max-width: 700px;
}
#career {
    grid-area: career;
    max-width: 700px;
}
#personalLife {
    grid-area: personalLife;
    max-width: 700px;
}
#moreInfo {
    grid-area: moreInfo;
    max-width: 700px;
}
#otherWork {
    grid-area: otherWork;
}
#tables {
    grid-area: tables;
}

#references {
    grid-area: references;
}

#name{
    grid-area: name;
}


/* Stack the layout on small devices/viewports. */
@media all and (max-width: 750px) {
    body {
        grid-template-areas:
                "header"
                "nav"
                "name"
                "article"
                "earlyLife"
                "career"
                "moreInfo"
                "tables"
                "otherWork"
                "references"
                "footer";
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }


}


@media all and (min-width: 1250px) {

    #otherWork ul{
        padding-left: 40%;
    }

}






