body {
    display: grid;
    grid-template-areas:
            "header header header"
            "nav nav nav"
            "name name name"
            "article article personalLife"
            "career career earlyLife"
            "moreInfo moreInfo tableWork"
            "references references references"
            "footer footer footer";
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}
/*header, footer, article, nav, div {
    padding: 1.2em;
}*/


article, #references, #pageFooter{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 15px;
    margin: 15px;
    box-shadow: 10px 6px 7px #ed090d;
    overflow-scrolling: auto;
}


#pageHeader {
    grid-area: header;
}
#pageFooter {
    grid-area: footer;
}
#mainArticle {
    grid-area: article;
    max-width: 700px;
}
#mainNav {
    grid-area: nav;
}
#earlyLife {
    grid-area: earlyLife;
    max-width: 700px;
}
#career {
    grid-area: career;
    max-width: 700px;
}
#personalLife {
    grid-area: personalLife;
    max-width: 700px;
}
#moreInfo {
    grid-area: moreInfo;
    max-width: 700px;
}
#otherWork {
    grid-area: otherWork;
}
#tables {
    grid-area: tables;
}

#references {
    grid-area: references;
}

#tableWork{
    grid-area: tableWork;
}

#name{
    grid-area: name;
}


/* Stack the layout on small devices/viewports. */
@media all and (max-width: 750px) {
    body {
        grid-template-areas:
                "header"
                "nav"
                "name"
                "article"
                "earlyLife"
                "career"
                "personalLife"
                "moreInfo"
                "tableWork"
                "references"
                "footer";
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    #tables, #otherWork{
        background-color: #ffffff;
        border-radius: 20px;
        padding: 15px;
        margin: 15px;
        box-shadow: 10px 6px 7px #ed090d;
        overflow-scrolling: auto;
    }

}



@media (min-width: 751px) and (max-width: 1249px) {

    #tableWork{
        background-color: #ffffff;
        border-radius: 20px;
        padding: 15px;
        margin: 15px;
        box-shadow: 10px 6px 7px #ed090d;
        overflow-scrolling: auto;
    }

    #otherWork{
        margin-top: 50px;
    }


    li {
        float:left;

    }

}


@media all and (min-width: 1050px) {
    body {
        grid-template-areas:
                "header header"
                "nav nav"
                "name name"
                "article personalLife"
                "career earlyLife"
                "moreInfo tableWork"
                "references references"
                "footer footer";
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 700px 1fr ;
    }

}



/* Working even on desktops larger than 1200px */
@media all and (min-width: 1250px) {
    body {
        grid-template-areas:
                "header header header header"
                "nav nav nav nav"
                "name name name name"
                "article article earlyLife personalLife"
                "career career moreInfo moreInfo"
                "tableWork tableWork tableWork tableWork"
                "references references references references"
                "footer footer footer footer";
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #otherWork ul{
        padding-left: 30%;
    }

    #tables, #otherWork{
        background-color: #ffffff;
        border-radius: 20px;
        padding: 15px;
        margin: 15px;
        box-shadow: 10px 6px 7px #ed090d;
        overflow-scrolling: auto;
    }

    li {
        float:left;

    }

}






