.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 100px;
	display: grid;
	grid-template-columns: 2fr 1fr;
}


.personal, .table {
	grid-column: 1 / 3;
}

#logo{
	float: left;
	max-width: 150px;
	max-height: 120px;
}

.description{
	color: white;
}

a {
	text-decoration-color: white;
	text-decoration:none;
}
a:hover {
	background-color: white;
}

.nav {
	padding:10px;
	border:solid 1px #c0c0c0;
	border-radius:5px;
	height: 30px;
}
.nav li {
	list-style-type:none;
	float:left;
	margin:0 10px;
}
.nav li a {
	text-align:center;
	width:140px;
	float:left;
}

.current {
	background-color: white;
}

.description{
	color: white;
}

body {
	font-family: Ariel, Helvetica, sans-serif;
	background-image: url(../images/background01.jpg);
	background-size: auto;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

header {
	text-align:center;
	margin: 0.5px;
	padding: 10px 25px;
	width: 100%;
	z-index: 1000;
	color: #0f0f0f;
}

h1 {
	font-size: 25px;
	text-align: center;
	color: #ffffff;
	text-shadow: 1px 3px #000000;
	letter-spacing: 15px;
}



h2 {
	font-style: italic;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	text-decoration: underline;
	padding-left: 40px;
	background-image: url(../images/spaceship.png);
	background-repeat: no-repeat;
	background-position: center left;
	background-size: contain;
	margin-top: 5px;
}

.list {
	padding-left: 60px;
	background-image: url(../images/spaceship.png);
	background-repeat: no-repeat;
	background-position: center left;
	background-size: contain;
	font-size: 20px;
}

h3 {
	font-style: italic;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	text-decoration: underline;
	padding-left: 40px;
	background-image: url(../images/spaceship.png);
	background-repeat: no-repeat;
	background-position: center left;
	background-size: contain;
	margin-top: 5px;
}

figure {
	box-shadow: 2px 2px 3px black;
}

.start {
	max-width: 700px;
	overflow: auto;
	background-color: #ffffff;
	border-radius: 20px;
	padding: 15px;
	margin: 15px;
	box-shadow: 10px 6px 7px #ed090d;
}

.anthony {
	float: right;
	border: 2px solid #44008b;
	padding: 10px;
}

.life {
	max-width: 700px;
	background-color: #ffffff;
	border-radius: 20px;
	padding: 15px;
	margin: 15px;
	box-shadow: 10px 6px 7px #ed090d;
}

.career {
	max-width: 700px;
	background-color: #ffffff;
	border-radius: 20px;
	padding: 15px;
	margin: 15px;
	box-shadow: 10px 6px 7px #ed090d;
}

.personal {
	max-width: 700px;
	background-color: #ffffff;
	border-radius: 20px;
	padding: 15px;
	margin: 15px;
	box-shadow: 10px 6px 7px #ed090d;
}

.philanthropy {
	max-width: 700px;
	overflow: auto;
	background-color: #ffffff;
	border-radius: 20px;
	padding: 15px;
	margin: 15px;
	box-shadow: 10px 6px 7px #ed090d;
}

.school {
	float: left;
	border: 2px solid #44008b;
	padding: 10px;
}

.table {
	background-color: #ffffff;
	border-radius: 20px;
	padding: 15px;
	margin: 15px;
	box-shadow: 10px 6px 7px #ed090d;
}

.list {
	background-color: #ffffff;
	border-radius: 20px;
	padding: 15px;
	margin: 15px;
	box-shadow: 10px 6px 7px #ed090d;
}

.citations {
	font-size: 25px;
}

footer {
	background-color: #ffffff;
	border-radius: 20px;
	padding: 15px;
	margin: 15px;
	font-size: 14px;
	box-shadow: 10px 6px 7px #ed090d;
}

.source {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 0;
}

.source li {
	flex-basis: 250px;
	list-style-type: none;
	padding: 5px;
	margin: 10px;
	border: 2px dotted #778899;
	border-radius: 10px;
	text-align: center;
}

table, tr, th, td {
	border: 2px solid #000000;
	text-align: center;
	margin: auto;
}

tr:hover {
	background-color: #C8A2C8;
}

a {
	text-decoration: none;
	color: #44008b;
}

a:hover {
	color: #00076f;
}

a:visited {
	color: #9f45b0;
}

.references-full-width{
	background-color: #ffffff;
	border-radius: 20px;
	padding: 15px;
	margin: 15px;
	box-shadow: 10px 6px 7px #ed090d;
}